* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#header:not(.sticky-header) #logo a {
    opacity: 0;
    pointer-events: none;
}

.promo-block-text {
    font-family: Arial, Helvetica, sans-serif;
}

.c26389 {
    width: 500px;
    margin: -95px 0px 0px 0px;
}

.c27376 {
    width: 250px;
    margin: 0px 0px 0px -10px;
}

.c29470 {
    color: black;
    width: 50px;
    margin: 0px 0px 0px 101px;
}

.c29733 {
    padding: 10px;
    font-size: 19px;
    font-family: Times New Roman, Times, serif;
    font-weight: 600;
    margin: 35px 0px 0px 0px;
}

@media (max-width: 992px) {
    .promo-block-title {
        width: 97%;
        text-align: left;
        padding: 0px 0px 0px 50px;
    }

    .c26389 {
        width: 300px;
        margin: 8px 0px 0px 0px;
    }

    .col-sm-6.sm-margin-b-60 {
        margin: 0px 0px 0px -2px;
    }

    .promo-block-text {
        padding: 0px 0px 0px 50px;
    }

    .c27376 {
        width: 200px;
        margin: 0px 0px 0px 0px;
    }

    .c29733 {
        margin: 25px 0px 0px 49px;
    }

    .c29470 {
        margin: 0px 0px 0px 151px;
    }
}

@media (max-width: 480px) {
    .c22910 {
        display: none;
    }

    .promo-block-title {
        width: 84%;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 8%;
        text-align: center;
    }

    .c26389 {
        width: 262px;
        margin: -20px 0px 0px 0px;
    }

    .promo-block-text {
        padding: 0px 0px 0px 0px;
    }

    .c27376 {
        color: black;
        width: 200px;
        margin: 0px 0px 0px 41px;
    }

    .c29733 {
        margin: 20px 0px 0px 0px;
    }

    .c29470 {
        margin: 0px 0px 0px 0px;
    }
}