body
{
    margin: 0;
    padding: 0;
    background: #faf8ef;
}
.div {
    margin: 0 auto;
    width: 430px;
    height: 800px;
}

.home-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 40px;
  width: 100px;
  padding: 0 20px;
  margin: auto;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  margin-top: 10px;
  float: none; }
#canvas
{
    background: bisque;
    z-index: 0;
}


